.bmi-chart {
	padding: 3rem 0;

	.img-wrap {
		position: relative;

		&:before {
			position: absolute;
			content: "";
			width: 255px;
			height: 217px;
			background-image: url('../images/dots-yellow.svg');
			background-repeat: no-repeat;
			background-size: contain;
			transform: translate(-250%, -50%);
			z-index: -1;
		}

		img {
			border-radius: 20px;
		}
	}

	#bmiChart{
		height: 100%!important;
	}
}